body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

#app {
    text-align: center;
}

#taskList li, button {
    cursor: pointer;
    margin: 8px;
}

#taskList li.completed {
    text-decoration: line-through;
}